package main

import (
	"context"
	"fmt"
	"net"
	"os"
	"os/signal"
	"syscall"

	{{quote (print .Config.Project.Module "/internal/config")}}
	{{quote (print .Config.Project.Module "/internal/httpserver")}}
)

func main() {
	ctx, stop := signal.NotifyContext(context.Background(), os.Interrupt, syscall.SIGTERM)
	defer stop()
	if err := run(ctx); err != nil {
		fmt.Fprintln(os.Stderr, err)
		stop()
		os.Exit(1)
	}
}

func run(ctx context.Context) error {
	settings, err := config.Load(os.Getenv("APP_CONFIG_FILE"), os.LookupEnv)
	if err != nil {
		return err
	}
	l, err := net.Listen("tcp", settings.HTTPAddr)
	if err != nil {
		return err
	}
	return httpserver.Serve(ctx, l, nil)
}
