version: "2"

linters:
  default: none
  enable:
    - errcheck
    - govet
    - staticcheck
    - revive
  exclusions:
    paths:
      - internal/store/queries

formatters:
  enable:
    - gofmt
    - goimports
